@using GridMvc.Html
@model IEnumerable<TakipWeb.Entities.TakipDosyaEntity>

@{
    ViewBag.Title = "OdemePlaniEkle";
}

<h2>OdemePlaniEkle</h2>
<html>
<head>

    <meta name="viewport" content="width-device-width" />
    <link href="@Url.Content("/Content/GridMvc.css")" rel="stylesheet" />
    <link href="@Url.Content("/Content/bootstrap.min.css")" rel="stylesheet" />
    <script src="@Url.Content("/Scripts/gridmvc.min.js")"></script>
    <title>TakipDosya Listesi</title>

</head>
<body>

    <h1>Takip Dosya List</h1>
    <hr />
    <div style="width:500px;">
        @Html.Grid(Model).Columns(Columns =>
   {

       Columns.Add(c => c.Id).Titled("ID").Filterable(true);
       Columns.Add(c => c.TaksitNo).Titled("TAKSİT NO");
       Columns.Add(c => c.TaksitTutari).Titled("TAKSİT TUTARI");
       Columns.Add(c => c.TahsilTutari).Titled("TAHSİL TUTARI");
       Columns.Add(c => c.TaksitTarihi).Titled("TAKSİT TARİHİ");

       Columns.Add()
               .Titled("")
               .SetWidth(10)
               .Filterable(true)
               .Sanitized(false)
               .Encoded(false)
               .RenderValueAs(c => Html.ActionLink("Taksit Planı Ekle", "EkleTaksitPlani", "OdemePlaniTaksit", new
               {
                   takipDosyaId = c.Id,
                    taksitno = c.TaksitNo,
                     taksitTutari= c.TaksitTutari,
                     tahsilTutari = c.TahsilTutari,
                     taksitTarihi=c.TaksitTarihi,

                   odemePlaniVar = c.OdemePlaniVar
               }, null).ToHtmlString());

   }).WithPaging(3).Sortable(true)





    </div>
</body>
</html>